global
    log 127.0.0.1 local0 
    user haproxy
    group haproxy

defaults
    log global
    retries 2
    timeout connect 3000
    timeout server 5000
    timeout client 5000


listen mysql-cluster
    bind 0.0.0.0:3306
    mode tcp
    option tcplog
    option tcp-check
    balance first 
    server DB1 "${MYSQL_MASTER_HOST}" check
    server DB2 "${MYSQL_SLAVE_HOST}" check
